@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f8f8f8;
  }

  header {
    background-color: #fff;
    padding: 15px 0; 
    border-bottom: 1px solid #eee;
  }

  .hautdepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px; 
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: auto;
    width: auto;
    max-height: 35px; 
    display: block;
  }

  .nav-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  nav li {
    margin-left: 30px; 
  }

  nav a {
    text-decoration: none;
    color: #4b5563; 
    font-size: 15px; 
    font-family: Arial, sans-serif;
  }

  nav a:hover {
    color: #2d3748; 
  }

  .logout-link a {
    text-decoration: none;
    color: #4b5563;
    font-size: 15px;
    font-family: Arial, sans-serif;
  }

  .logout-link a:hover {
    color: #2d3748;
  }

  

  .content-container {
      max-width: 950px; 
      margin: 30px auto; 
      margin-top:0px;
      margin-bottom:0px;
      padding: 30px;    
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: white; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  .recipe-creation-header {
    display: flex;
    flex-direction: column-reverse; 
    align-items: flex-start; 
    margin-bottom: 25px; 
}



  h1 {
      color: #004B46;
      font-size: 2.8em; 
      margin: 10px 0 0 0; 
      font-weight: bold;
      font-size:64px;
      letter-spacing: -0.5px; 
      text-align: center; 
      width: 100%;      
  }


  h2 {
    color: #008080;
    text-align: center;
    font-size: 2em; 
    margin-top: 0;
    margin-bottom: 30px; 
    font-weight: bold;
    font-size:48px;
    letter-spacing: -0.3px; 
}

h4{
  color: #004B46;
  text-align: left;
  font-size: 1.5em; 
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: -0.3px; 
}
  .delete-recipe-button {
    display:flex;
    background-color: #e53e3e;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    justify-self: flex-end; 


  }

  .delete-recipe-button:hover {
      background-color: #c53030; 
  }



  .recipe-form .form-group {
      margin-bottom: 25px; 
  }

  .recipe-form label {
      display: block;
      margin-bottom: 8px; 
      font-weight: 500; 
      color: #374151; 
      font-size: 16px;
  }

  .required {
      color: #ef4444; 
  }

  .recipe-form input[type="text"] {
      width: 100%;
      height: 100%;
      padding: 12px 15px; 
      border: 1px solid #d1d5db; 
      border-radius: 8px; 
      font-size: 1.1em;
      box-sizing: border-box;
      color: #4a5568; 
      background-color: #f9fafb; 
      resize: none;
  }

  .recipe-form input[type="text"]:focus {
      outline: none;
      border-color: #9ca3af; 
      box-shadow: 0 0 0 2px rgba(164, 170, 179, 0.2); 
      resize: none;
  }

  .recipe-form textarea{
    width: 100%;
    height: 10em;
    padding: 12px 15px; 
    border: 1px solid #d1d5db; 
    border-radius: 8px; 
    font-size: 1.1em;
    box-sizing: border-box;
    color: #4a5568; 
    background-color: #f9fafb; 
    resize: none;
  }
 
  .recipe-form textarea:focus {
    outline: none;
    border-color: #9ca3af; 
    box-shadow: 0 0 0 2px rgba(164, 170, 179, 0.2); 
    resize: none;
}
  .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
}


 
  .form-columns {
      display: flex;
      gap: 30px;
      align-items: flex-start; 
  }

  .form-columns .left-column {
      flex: 1;
  }

  .form-columns .right-column {
      flex: 1;
  }

  
 
  
    .form-group.time-group {
      margin-bottom: 20px; 
  }

  .header-mobile {
    display: flex;
    flex-direction: column;     
    align-items: center;        
    padding-bottom: 40px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #ccc;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #004B46;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  position: relative;
}
  
  .file-upload-group .file-upload-box {
      border: 2px dashed #cbd5e0; 
      border-radius: 8px; 
      padding: 30px; 
      text-align: center;
      background-color: #f9fafb;
  }

  .file-upload-group .add-step-button {
      background-color: #e2e8f0; 
      color: #4a5568; 
      border: none;
      padding: 10px 18px; 
      border-radius: 8px; 
      cursor: pointer;
      font-weight: 500; 
      font-size: 15px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); 
  }

  .file-upload-group .add-step-button:hover {
      background-color: #d4dbe4; 
  }

  .file-upload-group .no-files-chosen {
      color: #71717a; 
      font-style: italic;
      font-size: 15px; 
  }

 
  .difficulty-group .difficulty-options {
      display: flex; 
      gap: 30px; 
  }

  .difficulty-group .difficulty-options label {
      display: inline-flex;
      align-items: center;
      margin-right: 0; 
      font-weight: normal;
      font-size: 16px;
      color: #4a5568; 
  }

  .difficulty-group .difficulty-options input[type="radio"] {
      margin-right: 8px; 
      -webkit-appearance: none;
      appearance: none;
      width: 16px;
      height: 16px;
      border: 1px solid #9ca3af; 
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      background-color: #fff; 
  }

  .difficulty-group .difficulty-options input[type="radio"]:checked {
      border: 4px solid #008080; 
  }

  .difficulty-group .difficulty-options input[type="radio"]:focus {
      box-shadow: 0 0 0 2px rgba(0, 128, 128, 0.3); 
  }

 

  .ingredients-section,
  .instructions-section {
    background-color: #d9eae7; 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
  }

  .ingredients-section h2,
  .instructions-section h2 {
    color: #004B46;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: left; 
  }

  .ingredient-item,
  .instruction-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .ingredient-input,
  .instruction-input {
    flex-grow: 1;
    margin-right: 10px;
  }

  .ingredient-input input[type="text"],
  .instruction-input input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0f7fa; 
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
  }


  .add-ingredient-button,
  .add-instruction-button {
    background-color: #008080; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }

  .add-recipe-button{
    background-color: #008080; 
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }

  .add-ingredient-button:hover,
  .add-instruction-button:hover, .add-recipe-button:hover {
    background-color: #006666; 
  }

  .save-button-group {
    text-align: center; 
  }

  .save-recipe-button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .save-recipe-button:hover {
    background-color: #45a049; 
  }
  .save-recipe-button:active {
    background-color: #3e8e41; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
  }
 
@media (max-width: 600px) {
    .header-mobile {
        display: flex; 
    }
    .nav-items {
        display: none; 
    }
    .header-mobile .social-icons {
        margin-top: 16px;
        justify-content: center; 
        width: 100%;
    }
    .header-mobile .social-icons .social-icon {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.groupe_ingredient {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr 1fr;
  align-content:space-around;
  gap: 20px;
  height: 3em;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #d1d5db; 
  border-radius: 8px;
  font-size: 1.1em;
  box-sizing: border-box;
  color: #4a5568;
  background-color: #f9fafb; 
  align-content: center;
  gap: 8px;
  font-family: Arial, sans-serif;
}

.ingredients-section .selecteur1{
  background-color: #f9fafb ; 
}
.groupe_ingredient p .nom_ingredient {
  text-align: center;
}



.groupe_ingredient input.zone_ingredient {
  background: none;
  border: none;
  text-align: right;
  
}

.groupe_ingredient input.zone_ingredient::placeholder {
  font-family: Arial, sans-serif;
  font-size: 1.1em;
}

.groupe_ingredient p .mesure_ingredient {
  /* flex: 2; */
  text-align: center;
}

.groupe_ingredient input .zone_ingredient:focus {
  outline: none;
  border-color: #999;
  box-shadow: none;
}

.remove-item-button {
  background: none;
  border: none;
  color: #e53e3e;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.remove-item-button:hover {
  background-color: #f8bbd0;
}

@media (min-width: 601px) {
    .header-mobile {
        display: none; 
    }
}
.difficulty-group fieldset {
  border: 1px solid #cbd5e0; 
  padding: 10px; 
  background-color: #f5faff; 
  border-radius: 10px; 
  display: flex; 
  justify-content: space-around; 
}

.difficulty-group .difficulty-options {
  display: flex; 
  gap: 20px; 
  align-items: center; 
  width: 100%; 
  justify-content: space-between; 
  padding: 0 20px; 
}

.difficulty-group .difficulty-options label {
  display: flex; 
  align-items: center; 
  font-weight: bold; 
  color: #2d3748; 
  cursor: pointer; 
  margin-bottom: 0;
  text-align: center; 
  
}

.difficulty-group .difficulty-options input[type="radio"] {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none; 
  width: 20px; 
  height: 20px;
  border: 2px solid #94a3b8; 
  border-radius: 50%; 
  margin-right: 0px; 
  cursor: pointer;
  position: relative; 
}

.difficulty-group .difficulty-options input[type="radio"]:checked::before {
  content: ''; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 12px; 
  height: 12px;
  border-radius: 50%; 
  display: block; 
}

.difficulty-options label:hover input[type="radio"] {
  border-color: #64748b; 
}

.groupe_instructions{
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-content:space-around;
  gap: 20px;
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #d1d5db; 
  border-radius: 8px;
  font-size: 1.1em;
  box-sizing: border-box;
  color: #4a5568;
  background-color: #f9fafb; 
  align-content: center;
  gap: 8px;
  font-family: Arial, sans-serif;
}

.footer {
  background-color: white;
  border-top: 1px solid #e0e0e0;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-container img{
  display: flex;
  align-items: center;
  max-width: 100px;
  height: auto;
}

.footer-slogan {
  font-size: 12px;
  text-transform: uppercase;
  color: #666;
  margin-top: 5px;
}

.footer-right {
  display: flex;
  gap: 20px;
}

.footer-right a {
  text-decoration: none;
  color: #4b5563;
  font-size: 14px;
}

.footer-right a:hover {
  color: #2d3748;
}